html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: center;    
	font-family: 'Kodchasan', sans-serif;
    margin: 0;
    padding: 0;
    
     }
    body{
        background-image: url('./imgs/homepage.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .LogoPage{
        position: relative;
        width: 70vw;
        height: 10vh;
        bottom: 18%;
    }

    #section {
        min-height: 100%;
        background-color: #00a8cc;        
    }

    .container{
        height: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 35px;
        background-color: #2FED66;
        padding: 5px;
        position: relative;
        top: 13%;
        left: 0%;
    }

    .grid-container > div {
        background-color: aqua;
        padding: 5px 20px;
        font-size: 30px;
    }

    .grid-container > div:hover {
        background-color: rgb(10, 199, 199);
        padding: 5px 20px;
        font-size: 30px;
    }

    .grid-container > div:active {
        background-color: rgb(5, 12, 12);
        padding: 5px 20px;
        font-size: 30px;
    }


    .button {
        background-color: white;
        border: none;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 16px;
        border-radius: 25px;
        box-shadow: 0px 1px 21px 5px white;
        transition-duration: 0.2s;
        color: #192F5E;
        font-weight: bolder;
        text-align: center;
    }
    
    .button#imergir:hover{
        box-shadow: 0px 1px 20px 1px white;
    }

    #parar{
        visibility: hidden;
    }

    .progress-bar{
        width: 30px;
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%;
        margin: 0 auto;
        visibility: hidden;
        z-index: 9999;
    }

    label{
        visibility: hidden;
        padding: 10px;
    }
    #divteste2{
        position: relative;
        display: inline-block;
        top: 50%;
        right: 14px;
        width: 100%;
    }

    h1{
	color: white;
    filter: opacity(80%);
    background-color: rgb(17, 91, 228);
    opacity: 1;
    z-index: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    }

    #painelSlides{
        position: absolute;
        top: 25%;
    }

    #barrasProgress {
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
    }

    p#botaoImergir {
        position: relative;
        margin: 0 auto;
        z-index: 1;
        bottom: 10px;
        left: 0;
        z-index: 9999;
    }

    #imergir {
        font-weight: bolder;
    }

    .setaBaixo {
        border: solid white;
        border-width: 2px 10px 10px 2px;
        display: inline-block;
        transform: rotate(45deg);
        padding: 10px;
        position: relative;
        bottom: 0px;
        right: 0px;
        top: 0px;
        left: 0px;
        /* box-shadow: 0px 0px 1px 1px black; */
    }

    /* ANIMAÇÃO DA SETABAIXO */

    @keyframes seta{
        0% {bottom: 30px;}
        25% {bottom: 40px;}
        50% {bottom: 30px;}
        75% {bottom: 40px;}
        100% {bottom: 30px;}
    }

    i.setaBaixo:hover{
        animation-name: seta;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    /* FIM ANIMAÇÃO DA SETA */

    .flex { 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
      }

    .mySlides{
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        
    }

    .emoji, .emoji2{
        top: 30px;
        font-size: 32px;
        position: relative;
        z-index: 2;
        left: 0;
        display: inline-block;
    }

    .switch{
        position: relative;
        width: 80px;
        z-index: 2;
        height: 55px;
        margin: auto 10px;
        top: 25px;
        left: 0;
        display: inline-block;
    }

    .switch input{
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #77B2C5;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 35px;
        width: 35px;
        left: 8px;
        bottom: 10px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #275793;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #275793;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(29px);
        -ms-transform: translateX(29px);
        transform: translateX(29px);
      }
      
      /* sliders redondos */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }

    .sliderzin{
        color: white;
        font-size: 2rem;
        /*font-family: 'Trebuchet MS', Helvetica, sans-serif;*/
        font-family: 'VT323', monospace;
        font-weight: lighter;
        padding: 12px;
    }
    
    .sliderEscrita{
        color: white;
        position: relative;
        text-align: center;
        right: 15px;
        font-size: 2rem;
        /* font-family: 'Trebuchet MS', Helvetica, sans-serif; */
        font-family: 'VT323', monospace;
        font-weight: lighter;
        padding: 12px;
    }

    #playerRange {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    /* CONTROLE DE CORES DO PLAYER */

    :root{
        --transition-duration: 120s;
        --transition-timing-function: linear;
    }

    .rs-inner.rs-bg-color.rs-border{
        border: 0;
        background-color: rgb(17, 91, 228);
    }

    .rs-block.rs-outer.rs-border.rs-split{
        border: 0;
    }

    #playerRange .rs-path-color {
        background-color: rgb(17, 91, 228);
    }

    #playerRange .rs-range-color {
        background-color: white;
    }

    /* #playerRange.rs-animation .rs-transition {
        transition-duration: var(--transition-duration);
        transition-timing-function: linear;
    } */

    #playerRange .rs-handle {
        background-color: white;
    }

    #buttonM {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 25px;
    }

    #NextMeditation {
        position: absolute;
        top: 66%;
        left: 60%;
        transform: translate(-50%, -50%);
        height: 25px;
    }

    #perguntaNext {
        position: absolute;
        top: 66%;
        left: 34%;
        transform: translate(-50%, -50%);
        height: 24px;
        font-size: 19px;
        color: white;
        margin: 0 auto;
        background: rgb(17, 91, 228); 
        transition: 2s ease-in-out;  
    }

    .hiddenElement {
        visibility: hidden;
        opacity: 0;
        transition: 1s ease-in-out;
    }

    #sectionOndas {
        transition: 5s ease-in-out;
    }

    .secao3 {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: 5s ease-in-out;
    }

    #inputRange {
        width: 220px;
        height: 18px;
        position: absolute;
        top: 57%;left: 44%;
        visibility: hidden;
    }
    /* FIM DO CONTROLE DO PLAYER */

    #ansiometro{
        margin: 4px 2px 4px 2px;
        position: relative;
        left: -16px;
    }

    #comoesta , #comoesta2{
        width: 50vw;
        font-size: 18px;
        color: white;
        position: relative;
        margin: 0 auto;
        background: #52b4c8;
        border-radius: 35px;
        padding: 45px;
        top: 2%;
        left: 0px;
        text-align: justify;
        z-index: 1;
    }



    #comoesta2 {
        display: none;
    }

    /* Ondas */

    .waves {
        width: 100vw;
        height: 23vh;
        margin-bottom: -7px;
        min-height: 0vh;
        max-height: 150vh;
        margin-bottom:-7px; /*Fix for safari gap*/
    }

    #ondasPos{
        position: relative;
        top: -12vh;
        
    }

    /* Animação Ondas */

    .parallax > use {
        animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
    }
    .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }
    .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
        animation-delay: -4s;
        animation-duration: 6s;
    }

    @keyframes move-forever {
        0% {
        transform: translate3d(-90px,0,0);
        }
        100% { 
        transform: translate3d(85px,0,0);
        }
    }
    /*Shrinking for mobile*/
    @media (max-width: 768px) {
        .waves {
        height:25vh;
        min-height:40px;
        }
        .content {
        height:30vh;
        }
        h1 {
        font-size:24px;
        }
    }

    .caixa{
        /* display: none; */
        position: absolute;
        display: inline-block;
        right: 45%;
        bottom: 50%;
        visibility: hidden;
    }

    .caixa .porcentagem {
        position: relative;
        width: 0vw;
        height: 0vh;
    }

    .caixa .porcentagem svg {
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%;
    }

    .caixa .porcentagem svg circle {
        width: 150px;
        height: 150px;
        fill: none;
        stroke-width: 10;
        stroke: #000;
        transform: translate(5px, 5px);
        stroke-dasharray: 440;
        stroke-dashoffset: 440;
    }

     /* CRIA-SE DOIS CIRCULOS, UM COMO BASE E OUTRO COMO PROGRESS BAR */
    .caixa .porcentagem svg circle:nth-child(1) {

        stroke-dashoffset: 440;
        stroke: #f3f3f3;
    }

    .caixa .porcentagem svg circle:nth-child(2) {

        /* calculo padrão de porcentagem em 440 * N / 100  */
        stroke-dashoffset: calc(440 - (440 * 100) / 100);
        stroke: #03a9f4;
    }

    .caixa .porcentagem .numero {
        position: absolute;
        top: 75px;
        left: 85px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(17, 91, 228);
    }

    .caixa .porcentagem .numero h2 {
        font-size: 48px;
    }
    
    .caixa .porcentagem .numero h2 span{
        font-size: 24px;
    }

    .caixa .textoProgress {
        padding: 10px 0 0;
        color: rgb(17, 91, 228);
        font-weight: 700;
        position: relative;
        display: flex;
        top: 140px;
        left: 25%;
        letter-spacing: 1px;
    }

    /* LINK DO SITE PRA LICENSE */

    #licenseCopyright{
        position: relative;
        display: inline-block;
        top: 34%;
        right: 38%;
        font-size: 8px;
    }

    @media (min-width: 320px) and (max-width: 480px) 
        {
           .LogoPage {
                width: 70vw;
                height: 25vh;
                bottom: 18%;
                left: 0;
            }

            #barrasProgress { 
                font-size: 32px;
            }
            html, body {
                font-size: 1.4rem;
            }

            #comoesta, #comoesta2 {
                font-size: 10px;
                border-radius: 25px;
                padding: 25px;
            }

            .button {
                padding: 8px 18px;
                font-size: 11px;
            }

            p#botaoImergir {
                bottom: 20px;
            }

            .switch {
                width: 50px;
                height: 30px;
            }

            .slider:before {
                height: 20px;
                width: 20px;
                left: 5px;
                bottom: 5px;
            }

            input:checked + .slider:before {
                -webkit-transform: translateX(20px);
                -ms-transform: translateX(20px);
                transform: translateX(20px);
            }

            .emoji, .emoji2 {
                font-size: 20px;
                top: 16px;
            }

        }

    @media (min-width: 481px) and (max-width: 767px) {
            .LogoPage {
                width: 70vw;
                height: 25vh;
                bottom: 20%;
            }

            #barrasProgress {
                font-size: 32px;
            }

            html, body {
                font-size: 1.4rem;
            }

            #comoesta, #comoesta2 {
                font-size: 11px;
            }

            .emoji, .emoji2 {
                font-size: 24px;
            }

            .button {
                padding: 12px 24px;
                font-size: 11px;
            }

            p#botaoImergir {
                bottom: 20px;
            }

            .switch {
                width: 60px;
                height: 35px;
            }

            .slider:before {
                height: 17px;
                width: 17px;
                left: 4px;
                bottom: 9px;
            }

            input:checked + .slider:before {
                -webkit-transform: translateX(34px);
                -ms-transform: translateX(34px);
                transform: translateX(34px);
            }

            .emoji, .emoji2 {
                font-size: 18px;
                top: 16px;
            }
    }

    @media (min-width: 768px) and (max-width: 1024px)
    {
        .LogoPage {
            width: 50vw;
            height: 25vh;
            bottom: 20%;
            left: 0;
        }

        #barrasProgress {
            position: relative;
            top: 0;
            left: 0;
            font-size: 32px;
            display: inline-block;
        }
        html, body {
            font-size: 1.4rem;
        }

        #comoesta, #comoesta2 {
            width: 55vw;
            height: 15vh;
            font-size: 14px;
            color: white;
            position: relative;
            margin: 0 auto;
            background: #52b4c8;
            border-radius: 35px;
            padding: 30px;
            top: 2%;
            left: 0px;
            text-align: justify;
            z-index: 1;
        }

        .button {
            padding: 12px 24px;
            font-size: 11px;
            border-radius: 25px;
        }

        p#botaoImergir {
            position: relative;
            margin: 0 auto;
            z-index: 1;
            bottom: 20px;
            left: 0;
            z-index: 9999;
        }

        .switch {
            width: 60px;
            height: 35px;
            top: 25px;
        }

        .slider:before {
            height: 25px;
            width: 25px;
            left: 7px;
            bottom: 5px;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(22px);
            -ms-transform: translateX(22px);
            transform: translateX(22px);
        }

        .emoji, .emoji2 {
            font-size: 24px;
            top: 16px;
        }
    }

    @media (min-width: 1281px) 
    {
        .LogoPage {
            bottom: 17%;
        }

        .emoji, .emoji2 {
            font-size: 38px;
            top: 50px;
        }

        #barraProgress {
            top: 20px;
        }
    }
    

    