html{
    background-color: #000;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
svg{
    width: 400px;
    height: 500px;
    z-index: 999;
}